.create-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
}
.link-row:hover {
    cursor: pointer;
}
table {
    border: 1px solid #bbb;
    border-radius: 5px;
    height: 200px;
    overflow: hidden;
}
table a, table a:hover {
    color: black;
    text-decoration: none;
}
table td, table th {
    white-space: nowrap;
    padding: 0rem .5rem;
    text-align: left;
}